@page
@model IndexModel
@{
    ViewData["Title"] = "Tournaments";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <h1>All Tournaments</h1>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}